@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

/* Define theme variables */
@theme {
  --font-space: "Space Grotesk", sans-serif;
}

/* Apply the font globally */
body {
  font-family: var(--font-space);
}
